/* To create the effect of text wrapping around image*/
.shaper {
  shape-outside: ellipse(210px 200px at 81% 5%);
  width: 600px;
  height: 500px;
  float: right;
  opacity: 0.2;
}

.heroText1 {
  display: block;
  font-family: Chivo, Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 3rem;
}

.heroText2 {
  display: block;
  margin-top: -2rem;
  font-family: Roboto;
  font-size: 5rem;
  font-weight: 100;
}

.publishDate {
  font-family: 'Roboto';
  color: grey;
}

.image {
  display: flex;
  align-content: center;
  justify-content: center;
}

.firstcharacter {
  color: #903;
  float: left;
  font-weight: bolder;
  font-size: 6rem;
  line-height: 3rem;
  padding: 1.2rem 0.7rem 0.4rem 0;
}

.fullwidth {
  width: 80vw;
  margin-left: -10%;
}

@media screen and (max-width: 1200px) {
  .shaper {
    display: none;
  }

  .text {
    margin-top: 1rem;
  }

  .image img {
    width: 75%;
  }

  .fullwidth {
    margin-left: -20%;
  }
  
}