body {
  display: grid;
  justify-content: center;
}

main {
  /* background: yellow; */
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 800px auto;
  margin: 0 auto;
}

main article {
  grid-row-start: 2;
  grid-row-end: 3;
  /* Column */
  grid-column: span 8;
  margin-top: -250px;
}

article > div {
  shape-outside: ellipse(200px 200px at 70% 8%);;
  width: 500px;
  height: 500px;
  float: right;
  opacity: 0.2;
}

article p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.hero {
  display: flex;
  justify-content: space-between;
  /* Position inside the main grid */
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: span 12;
  /* grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 7px; */
}

.text {
  grid-column: span 4;
  align-self: center;
  /* background: red; */
}

.hero-text-1 {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 3rem;
}

.hero-text-2 {
  display: block;
  margin-top: -2rem;
  font-family: Raleway;
  font-size: 5rem;
  font-weight: lighter;
}

.publish-date {
  font-family: 'Input mono';
  font-weight: bold;
  color: grey;
}

.image {
  margin-top: 2rem;
}

.firstcharacter {
  color: #903;
  float: left;
  font-weight: bolder;
  font-size: 5rem;
  line-height: 2rem;
  padding: 1.2rem 0.7rem 0.8rem 0;
}
