* {
  margin: 0;
  padding: 0;
}

 body {
  /* --pink: rgb(255, 167, 196); */
  /* background-color: var(--pink); */
  color: #121212;
}

main.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}


