*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  /* --pink: rgb(255, 167, 196); */
  /* background-color: var(--pink); */
  color: #121212;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Cardo';
}

